<ion-view style="background: none;">
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->
  <ion-nav-bar class="bar-positive grey-bar" >
    <ion-nav-title>
      <h1 class="title" style="text-align: center; font-family: SourceSansPro; color: #242a34; font-size: 22px;">AGLIO</h1>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="row responsive-xs grey-bar" style="text-align: center; font-family: SourceSansPro; font-size: 18px" >
      <div class="col">
        <div style="color:#d95757">
          Find Food
        </div>
      </div>
      <div class="col">
        <div style="color: #242a34; ">
          Recipe
        </div>
      </div>
      <div class="col">
        <div style="color: #242a34; ">
          Tips
        </div>
      </div>
    </div>
    <div style="background-color: white;padding-left: 20px;">
      <input type="text" name="search" placeholder="Search..">
    </div>
    <ion-list>
      <ion-item> asdf<!--class="item-thumbnail-left"-->
      </ion-item>
      <ion-item class="imgwishlist"> <!--class="item-thumbnail-left"-->
      </ion-item>
      <ion-item class="imgwishlist"> <!--class="item-thumbnail-left"-->
      </ion-item>
      <ion-item class="imgwishlist"> <!--class="item-thumbnail-left"-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

