<ion-view style="background: white;">
  <ion-content>
    <nav mfb-menu position="br" effect="slidein-spring" active-icon="ion-ios-close-empty" resting-icon="ion-ios-plus-empty" toggling-method="hover">
      <button mfb-button icon="ion-document-text" ng-click="sharetips()"></button>
      <button mfb-button icon="ion-clipboard" ng-click = "sharerecipe()"></button>
      <button mfb-button icon="ion-android-restaurant" ng-click="sharefood()"></button>
    </nav>
    <ion-nav-bar class="bar-positive grey-bar" >
      <ion-nav-title>
        <h1 class="title" style="text-align: center; font-family: LatoLight; color: #242a34; font-size: 22px;">AGLIO</h1>
        <a class="button button-icon button-dark icon ion-ios-nutrition-outline" style="color:black; font-size:20px;" ng-click="myfood()"></a>
      </ion-nav-title>
    </ion-nav-bar>
    <ion-tabs class="tabs-striped tabs-top tabs-color-light tabs-main">
      <ion-tab title="Cari Makanan">
        <ion-scroll direction="y">

          <div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">
            <input type="text" name="search" placeholder="Cari.." ng-model="searchText">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </div>

          <ion-list>
            <ion-item ng-repeat = "(key,value) in data  | custom:searchText" ng-show="value.status == 'NONE'">
              <div ui-sref="request-food({id : key})" >
                <img src={{value.img_url}} height="75" width="75" class="image-home">
                <div>
                  {{value.title}}
                </div>
                <div class="desc-home">
                  {{value.desc}}
                </div>
                <div class="price-home" ng-if="value.price!=0">
                  {{value.price}}
                </div>
                <div class="price-home" ng-if="value.price==0">
                  Free
                </div>
                <span am-time-ago="value.exp_date"></span>
                <div class="expdate-home">
                  Exp. {{value.exp_date | date: 'dd/MM/yyyy'}}
                  <!--HH:mm:ssZ-->
                </div>
              </div>
              <!--class="item-thumbnail-left"-->
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-tab>

      <ion-tab title="Resep">
        <ion-scroll direction="y">

          <div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">
            <input type="text" name="search" placeholder="Cari.." ng-model="searchTextRecipe">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </div>
          <ion-list>
            <ion-item ng-repeat = "(key,value) in recipe | recipeFilter:searchTextRecipe">
              <div ui-sref="recipe-detail({id : key})">
                <img src={{value.img_url}} height="75" width="75" class="image-home">
                <div class="title-recipe">
                  {{value.title}}
                </div>
                <div class="eta-recipe">
                  {{value.time}} mins
                </div>
                <div class="star-recipe" ng-repeat="i in getNumber(5) track by $index">
                  <div class="star-single-recipe fa fa-star" ng-if="$index<value.star"></div>
                  <div class="star-single-recipe fa fa-star-o" ng-if="$index>=value.star"></div>
                  <!--<div class="star-single-recipe fa fa-star"></div>-->
                  <!--<div class="star-single-recipe fa fa-star"></div>-->
                  <!--<div class="star-single-recipe fa fa-star-half-o"></div>-->
                  <!--<div class="star-single-recipe fa fa-star-o"></div>-->
                </div>
              </div>
              <!--class="item-thumbnail-left"-->
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-tab>
      <!--<ion-tab title="Tips">-->
        <!--<ion-scroll direction="y">-->
          <!--<div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">-->
            <!--<input type="text" name="search" placeholder="Cari.." ng-model="searchTextTips">-->
            <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
          <!--</div>-->
          <!--<ion-list>-->
            <!--<ion-item ng-repeat = "(key,value) in tips | tipsFilter:searchTextTips">-->
              <!--&lt;!&ndash;| tipsFilter:searchText&ndash;&gt;-->
              <!--<div ui-sref="tips-detail({id : key})">-->
                <!--<div class="title-tips">-->
                  <!--{{value.title}}-->
                <!--</div>-->
                <!--<div class="createddate-tips">-->
                  <!--{{value.created | date: 'dd/MM/yyyy HH:mm:ss'}}-->
                  <!--&lt;!&ndash;{{value.exp_date | date: 'dd/MM/yyyy'}}&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="desc-tips" ng-bind-html="(value.compiledtext | limitHtml: 100) + '...'">-->
                <!--</div>-->
                <!--<div class="readmore-tips">-->
                  <!--read more-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;class="item-thumbnail-left"&ndash;&gt;-->
            <!--</ion-item>-->
          <!--</ion-list>-->
        <!--</ion-scroll>-->
      <!--</ion-tab>-->
      <ion-tab title="Tips">
        <ion-scroll direction="y">
          <div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">
            <input type="text" name="search" placeholder="Cari.." ng-model="searchTextTips">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </div>
          <ion-list>
            <ion-item ng-repeat = "(key,value) in tips | tipsFilter:searchTextTips">
            <!--| tipsFilter:searchText-->
            <div ui-sref="tips-detail({id : key})">
              <div>
                <h3 class="title-tips">{{value.title}}</h3>
                <p class="date-tips">2{{value.created | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <p class="content-tips-tabs" ng-bind-html="(value.compiledtext | limitHtml: 100) + '...'"></p>
                <p class="read-more-tips">read more</p>
              </div>
            </div>
            <!--class="item-thumbnail-left"-->
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-tab>

       <!--  <div class="col">
          <div style="color:#d95757">
            Find Food
          </div>
        </div>
        <div class="col">
          <div style="color: #242a34; ">
            Recipe
          </div>
        </div>
        <div class="col">
          <div style="color: #242a34; ">
            Tips
          </div>
        </div>
      </div> -->
      <!-- <div class="searchbar-home">
        <input type="text" name="search" placeholder="Search..">
      </div>
      <ion-list>
        <ion-item ng-repeat = "(key,value) in data">
          <div>
            <img src={{value.img_url}} height="75" width="75" class="image-home">
            <div>
              {{value.title}}
            </div>
            <div class="desc-home">
              {{value.desc}}
            </div>
            <div class="price-home" ng-if="value.price!=0">
              {{value.price}}
            </div>
            <div class="price-home" ng-if="value.price==0">
              Free
            </div>
            <span am-time-ago="value.exp_date"></span>
            <div class="expdate-home">
              Exp. {{value.exp_date | date: 'dd/MM/yyyy'}}
              <!HH:mm:ssZ-->
            <!-- </div>
          </div> -->
          <!--class="item-thumbnail-left"-->
        <!-- </ion-item>
      </ion-list> -->

    </ion-tabs>
  </ion-content>

  <!-- Floating Button -->
  <!-- <ion-fab>
    <i class="icon ion ion-android-add"></i>
  </ion-fab> -->



</ion-view>

