<ion-view style="background: white;">
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->


  <ion-content>
    <nav mfb-menu position="br" effect="slidein-spring" active-icon="ion-ios-close-empty" resting-icon="ion-ios-plus-empty" toggling-method="click">
      <button mfb-button icon="ion-document-text"></button>
      <button mfb-button icon="ion-clipboard"></button>
      <button mfb-button icon="ion-android-restaurant" ng-click="sharefood()"></button>
    </nav>
    <ion-nav-bar class="bar-positive grey-bar" >
      <ion-nav-title>
        <h1 class="title" style="text-align: center; font-family: LatoLight; color: #242a34; font-size: 22px;">AGLIO</h1>
        <a class="button button-icon button-dark icon ion-ios-nutrition-outline" style="color:black; font-size:20px;"></a>
      </ion-nav-title>
    </ion-nav-bar>
    <ion-tabs class="tabs-striped tabs-top tabs-color-light tabs-main">
      <ion-tab title="Cari Makanan">
        <ion-scroll direction="y">

          <div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">
            <input type="text" name="search" placeholder="Cari..">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </div>

          <ion-list>
            <ion-item ng-repeat = "(key,value) in data">
              <div ui-sref="request-food({id : key})">
                <img src={{value.img_url}} height="75" width="75" class="image-home">
                <div>
                  {{value.title}}
                </div>
                <div class="desc-home">
                  {{value.desc}}
                </div>
                <div class="price-home" ng-if="value.price!=0">
                  {{value.price}}
                </div>
                <div class="price-home" ng-if="value.price==0">
                  Free
                </div>
                <span am-time-ago="value.exp_date"></span>
                <div class="expdate-home">
                  Exp. {{value.exp_date | date: 'dd/MM/yyyy'}}
                  <!--HH:mm:ssZ-->
                </div>
              </div>
              <!--class="item-thumbnail-left"-->
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-tab>

      <ion-tab title="Resep">
        <ion-scroll direction="y">

          <div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">
            <input type="text" name="search" placeholder="Cari..">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </div>

          <!-- <ion-list>
            <ion-item ng-repeat = "(key,value) in data">
              <div>
                <img src={{value.img_url}} height="75" width="75" class="image-home">
                <div>
                  {{value.title}}
                </div>
                <div class="desc-home">
                  {{value.desc}}
                </div>
                <div class="price-home" ng-if="value.price!=0">
                  {{value.price}}
                </div>
                <div class="price-home" ng-if="value.price==0">
                  Free
                </div>
                <span am-time-ago="value.exp_date"></span>
                <div class="expdate-home">
                  Exp. {{value.exp_date | date: 'dd/MM/yyyy'}}

                </div>
              </div>

            </ion-item>
          </ion-list> -->
        </ion-scroll>
      </ion-tab>
      <ion-tab title="Tips">
        <ion-scroll direction="y">
          <div class="searchbar-home item item-icon-right" style="padding-bottom: 0px; padding-top: 0px;">
            <input type="text" name="search" placeholder="Cari..">
            <i class="icon ion-ios-search placeholder-icon"></i>
          </div>
          <ion-list>
            <a class="item">
              <h3 class="title-tips">5 Metode Alami Awetkan Makanan Tanpa Kulkas</h3>
              <p class="date-tips">20 Oktober 2016</p>
              <p class="content-tips">Kulkas menjadi salah satu tempat penyimpanan makanan agar tahan lama. Namun tahukah Anda bahwa ada metode lain yang bisa Anda lakukan untuk tetap dapat menjaga makanan Anda awet tanpa masuk kulkas...</p>
              <p class="read-more-tips">read more</p>
            </a>
            <a class="item">
              <h3 class="title-tips">Deretan Makanan yang Awet Tanpa Harus Disimpan di Kulkas</h3>
              <p class="date-tips">18 Oktober 2016</p>
              <p class="content-tips">Sebenarnya, terdapat beberapa buah dan sayuran yang tidak perlu disimpan di dalam kulkas. Alasannya cukup sederhana, yaitu makanan tersebut justru akan kehilangan rasa asli dan tekstur mereka...</p>
              <p class="read-more-tips">read more</p>
            </a>
            <a class="item">
              <h3 class="title-tips">Lakukan 6 Cara Ini Agar Makanan Bersantan Tidak Cepat Basi</h3>
              <p class="date-tips">18 Oktober 2016</p>
              <p class="content-tips">Pada Lebaran nanti, tentu berbagai hidangan santan akan banyak tersedia di rumah, mulai dari opor, lodeh, sambal goreng hati, hingga rendang. Kadang sanking banyaknya, menu tersebut pun...</p>
              <p class="read-more-tips">read more</p>
            </a>
            <a class="item">
              <h3 class="title-tips">Tips Menjaga Kualitas Makanan Beku</h3>
              <p class="date-tips">17 Oktober 2016</p>
              <p class="content-tips">Meskipun praktis, untuk menyimpan makanan seperti itu sebetulnya dibutuhkan kehati-hatian. "Setelah berbelanja makanan beku seperti nugget, sesegera mungkin bawalah ke rumah untuk dimasukkan dalam freezer,"...</p>
              <p class="read-more-tips">read more</p>
            </a>
          </ion-list>
        </ion-scroll>
      </ion-tab>


       <!--  <div class="col">
          <div style="color:#d95757">
            Find Food
          </div>
        </div>
        <div class="col">
          <div style="color: #242a34; ">
            Recipe
          </div>
        </div>
        <div class="col">
          <div style="color: #242a34; ">
            Tips
          </div>
        </div>
      </div> -->
      <!-- <div class="searchbar-home">
        <input type="text" name="search" placeholder="Search..">
      </div>
      <ion-list>
        <ion-item ng-repeat = "(key,value) in data">
          <div>
            <img src={{value.img_url}} height="75" width="75" class="image-home">
            <div>
              {{value.title}}
            </div>
            <div class="desc-home">
              {{value.desc}}
            </div>
            <div class="price-home" ng-if="value.price!=0">
              {{value.price}}
            </div>
            <div class="price-home" ng-if="value.price==0">
              Free
            </div>
            <span am-time-ago="value.exp_date"></span>
            <div class="expdate-home">
              Exp. {{value.exp_date | date: 'dd/MM/yyyy'}}
              <!HH:mm:ssZ-->
            <!-- </div>
          </div> -->
          <!--class="item-thumbnail-left"-->
        <!-- </ion-item>
      </ion-list> -->

    </ion-tabs>
  </ion-content>

  <!-- Floating Button -->
  <!-- <ion-fab>
    <i class="icon ion ion-android-add"></i>
  </ion-fab> -->



</ion-view>

