<ion-view style="background: white;">
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->

  <ion-nav-bar class="bar-positive grey-bar" >
    <ion-nav-title>
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="gomain()"></a>
      <h1 class="title" style="text-align: center; font-family: LatoLight; color: #242a34; font-size: 22px;">{{data.title}}</h1>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="has-footer">
    <div class="photo-area-request">
    <img class="request-photo" src="{{data.img_url}}" alt="">
      <div class="float-photo-user" style="background: url({{usrimg}});-webkit-background-size: cover;">

      </div>
    </div>

    <ion-tabs class="tabs-striped tabs-color-assertive tabs-fullwidth tabs-request">
      <div></div>
      <ion-tab title="Detail" >
        <!-- Tab 1 content -->
        <div class="list content-tabs-detail">
          <p class="text-detail">{{data.desc}}</p>
          <div class="row tabs-detail">
            <div class="col">Tipe</div>
            <div class="col font-blue">  {{data.type}}</div>
          </div>
          <div class="row tabs-detail">
            <div class="col">Kadaluwarsa</div>
            <div class="col font-blue">{{data.exp_date | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="row tabs-detail">
            <div class="col">Harga</div>
            <div class="col font-blue" ng-if="data.price!=0">IDR {{data.price}}</div>
            <div class="col font-blue" ng-if="data.price==0">Free</div>
          </div>
          <div class="row tabs-detail">
            <div class="col">Jumlah</div>
            <div class="col font-blue">{{data.qty}}</div>
          </div>
          <div class="row tabs-detail pickup">
            <div class="col">Lokasi Jemput</div>
            <div class="col font-blue">{{data.location}}</div>
          </div>
          <!--<div class="location-pickup">-->
          <!--</div>-->
        </div>
      </ion-tab>

      <ion-tab title="Diskusi">
        <!-- Tab 2 content -->
        <div class="list">

          <div class="item item-avatar" style="border-bottom-width:0px; border-top-width:0px; padding-top: 10px; padding-bottom: 5px;">
            <img src="img/user-profpic-detail-1.png">
            <h2 class="discussion-name">Venkman</h2>
            <p class="date-discussion">12 July 2016</p>
            <p class="discussion-chat">Back off, man. I'm a scientist.</p>
          </div>

          <div class="item item-avatar" style="border-bottom-width:0px; border-top-width:0px; padding-top: 10px; padding-bottom: 5px;">
            <img src="img/user-profpic-detail-1.png">
            <h2 class="discussion-name">Venkman</h2>
            <p class="date-discussion">12 July 2016</p>
            <p class="discussion-chat">Back off, man. I'm a scientist.</p>
          </div>

          <div class="item item-avatar" style="border-bottom-width:0px; border-top-width:0px; padding-top: 10px; padding-bottom: 5px;">
            <img src="img/user-profpic-detail-1.png">
            <h2 class="discussion-name">Venkman</h2>
            <p class="date-discussion">12 July 2016</p>
            <p class="discussion-chat">Back off, man. I'm a scientist.</p>
          </div>

          <div class="item item-avatar" style="border-bottom-width:0px; border-top-width:0px; padding-top: 10px; padding-bottom: 5px;">
            <img src="img/add-discussion.png">
            <label class="item item-input input-discussion">
              <input class="input-text-discussion" placeholder="Memiliki pertanyaan? Beri komentar di sini">
            </label>
          </div>

      </div>
      </ion-tab>
    </ion-tabs>


  </ion-content>

  <!-- MODAL -->
  <script id="modal-request-food.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="header-modal-request">
        <h1 class="title modal-title" style="text-align:center; color: #555656; font-family: LatoLight;">Pesan Makanan Ini</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="request">
          <div class="list">
            <div class="item item-avatar" style="border-width:0px;">
              <img src="img/fresh-apples-icon.png">
              <h2 class="discussion-name">Apel Malang</h2>
              <p class="price-request" ng-if="data.price!=0">IDR {{data.price}}</p>
              <p class="price-request" ng-if="data.price==0">Free</p>
              <p class="exp-date-request">{{data.exp_date | date: 'dd/MM/yyyy'}}</p>
            </div>
            <label class="item item-input item-stacked-label input-request">
              <span class="input-label">Jumlah</span>
              <input class="input-data-request" type="number" placeholder="Masukkan jumlah" max = "{{data.qty}}">
            </label>
            <label class="item item-input item-stacked-label input-request">
              <span class="input-label">Kirim ke</span>
              <input class="input-data-request"  type="text" placeholder="Masukkan alamat">
            </label>
            <label class="item item-input item-stacked-label input-request">
              <span class="input-label">Pembayaran</span>
              <ion-radio class="radio-input" ng-model="choice" ng-value="'A'"><i class="icon ion-card"></i>Transfer</ion-radio>
              <ion-radio class="radio-input" ng-model="choice" ng-value="'B'"><i class="icon ion-cash"></i>Bayar Ditempat</ion-radio>
            </label>
          </div>
          <div class="button-cool">
            <button class="button background-dark-gray button-round-gray" ng-click="closeModal()">
              Batal
            </button>
            <button class="button background-blue button-round" >
              Pesan
            </button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- STICKY BUTTON BOTTOM -->
  <ion-footer-bar class="background-blue" style="height:50px;">
    <button class="button button-large button-full background-blue font-white button-bottom" style="margin-top:5px; font-size:24px; font-family:SourceSansPro;" ng-click="modal.show()">
      PESAN
    </button>
  </ion-footer-bar>
</ion-view>



