<ion-view style="background: white;">
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->
  <ion-nav-bar class="bar-positive grey-bar" >
    <ion-nav-title>
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="gomain()"></a>
    <h1 class="title" style="text-align: center; font-family: LatoLight; color: #242a34; font-size: 22px;">Berbagi Resep</h1>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content fab-scroll-container class="has-footer">
    <div class="photo-area" ng-click="photo()">
    <img class="share-recipe" src="img/upload-image.png" alt="">
      <div class="float-button-aglio">
        <span class="height-fix">
          <a class="content">
            <i class="ion-ios-camera-outline"> </i>
          </a>
        </span>
      </div>
    </div>

    <div class="list content-form">
      <label class="item item-input">
        <span class="input-label">Judul Resep</span>
        <input type="text" class="border-input" placeholder="Nama masakan">
      </label>
      <label class="item item-input">
        <span class="input-label">Durasi</span>
        <input type="text" placeholder="Waktu">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Bahan-bahan</span>
        <textarea class="input-ingredients" type="text"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Cara Masak</span>
        <textarea type="text" class="input-cara-masak"></textarea>
      </label>
    </div>
  </ion-content>

  <!-- MODAL -->
  <script id="modal-share-recipe.html" type="text/ng-template">
    <ion-modal-view>
      <ion-content class="padding background-gray">
        <div class="feedback">
          <img class="image-modal" src="img/food.png" alt="">
          <h4>Hore!</h4>
          <p class="words-feedback">Kamu baru saja membantu mengolah makanan sisa.</p>
          <div class="button-cool">
            <button class="button background-blue button-round" ng-click = "closeModal()">
              Hebat!
            </button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- STICKY BUTTON BOTTOM -->
  <ion-footer-bar class="background-blue" style="height:50px;">
    <button class="button button-large button-full background-blue font-white button-bottom" style="margin-top:5px; font-size:24px; font-family:SourceSansPro;" ng-click="openModal()">
      BAGIKAN
    </button>
  </ion-footer-bar>
</ion-view>



