<ion-view style="background: white;">
  <!--<ion-header-bar class="bar-positive orange-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="arrowanalyze" ng-click="onSwipeRightAnalyze()"></button>-->
  <!--</div>-->
  <!--<h1 class="title" style="text-align: left">Budget Analysis</h1>-->
  <!--</ion-header-bar>-->
  <ion-nav-bar class="bar-positive grey-bar" >
    <ion-nav-title>
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="gomain()"></a>
    <h1 class="title" style="text-align: center; font-family: LatoLight; color: #242a34; font-size: 22px;">Berbagi Makanan</h1>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content fab-scroll-container class="has-footer">
    <div class="photo-area" ng-click="photo()">
    <img class="share-photo" src={{url}} alt="">
      <div class="float-button-aglio">
        <span class="height-fix">
          <a class="content">
            <i class="ion-ios-camera-outline"> </i>
          </a>
        </span>
      </div>
    </div>

    <div class="list content-form">
      <label class="item item-input">
        <span class="input-label">Nama</span>
        <input type="text" class="border-input" ng-model="sharefood.title" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Tipe</span>
        <input type="text" ng-model="sharefood.type" required>
      </label>
      <label class="item item-input">
        <span class="input-label" >Kadaluwarsa</span>
        <input type="text" ng-click="openDatePicker()" ng-model="exp_datedisplay">
      </label>
      <label class="item item-input">
        <span class="input-label" >Harga</span>
        <input type="number" ng-model="sharefood.price">
      </label>
      <label class="item item-input">
        <span class="input-label" >Jumlah</span>
        <input type="number" ng-model="sharefood.qty" min="1">
      </label>
      <label class="item item-input">
        <span class="input-label" >Info</span>
        <input type="text" ng-model="sharefood.desc">
      </label>
      <label class="item item-input">
        <span class="input-label">Lokasi Jemput</span>
        <input type="text" ng-model="sharefood.location">
      </label>
    </div>
  </ion-content>

  <!-- MODAL -->
  <script id="modal-share-food.html" type="text/ng-template">
    <ion-modal-view>
      <ion-content class="padding background-gray">
        <div class="feedback">
          <img class="image-modal" src="img/garbage.png" alt="">
          <h4>Selamat!</h4>
          <p class="words-feedback">Kamu baru saja membantu mengurangi sampah makanan.</p>
          <div class="button-cool">
            <button class="button background-blue button-round" ng-click = "cool()">
              Keren!
            </button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- STICKY BUTTON BOTTOM -->
  <ion-footer-bar class="background-blue" style="height:50px;">
    <button class="button button-large button-full background-blue font-white button-bottom" style="margin-top:5px; font-size:24px; font-family:SourceSansPro;" ng-click="share()">
      BAGIKAN
    </button>
  </ion-footer-bar>
</ion-view>



